VITE_USUARIO_API=http://academico3.rj.senac.br/20261prj5/hotel/cliente
VITE_QUARTO_API=http://academico3.rj.senac.br/20261prj5/hotel/quarto
VITE_RESERVA_API=http://academico3.rj.senac.br/20261prj5/hotel/reserva
VITE_PAGAMENTO_API=http://academico3.rj.senac.br/20261prj5/hotel/pagamento
